#navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#navBar>div {
    font-size: 30px;
    border: 1px solid none;

}

#bar {
    font-size: 22px;
    border: none;
    padding: 10px 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#banner>div>img {
    width: 100%;
}

#banner>div {
    margin-top: 5px;
    margin-bottom: 50px;
}